.vp-doc h1 {
    margin: 88px 0 32px !important;
}

/*文章的第一个元素，一般是标题，自然文章的第一个标题就不需要 margin-top 了*/
.vp-doc > div > :first-child {
    margin-top: 0 !important;
}

.vp-doc h2 {
    counter-reset: h3-counter; /* 创建一个名为 h3-counter 的计数器 */
}
.vp-doc h3 {
    font-size: 17px;
}
/* 为.vp-doc 下每个 h3 元素增加计数器并设置内容 */
.vp-doc h3::before {
    counter-increment: h3-counter; /* 每个 h3 元素递增计数器 */
    content: counter(h3-counter) ". "; /* 使用计数器作为前缀 */
    font-weight: bold; /* 可以根据需求修改样式 */
}

/* 针对 vitepress markdown 的theme的light模式的主题配置背景色无效的问题单独做的调整 等待官方更新修复 */
.vp-doc pre {
    background-color: rgb(40, 44, 52) !important;
}
.vp-doc .copy[title='Copy Code'] {
    background-color: #343848 !important;
    border-color: #343848 !important;
}
.vp-doc span.lang {
    color: rgb(171, 178, 191) !important;
}

/*markdown li与li之间的间距*/
.vp-doc li + li {
    margin-top: 1.2em !important;
}

/* 控制正文内容区域 */
.content-container {
    max-width: 1024px !important;
}

/* 让所有表格横向可滚动 */
.content-container table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

